h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

.profileImg {
  width: 100px;
  height: 100px;
}
.box {
  border: 2px solid rgb(22, 22, 22);
  border-radius: 8px;
}
.highlight {
  opacity: 0.8;
}
.highlight:hover {
  opacity: 1;
  cursor: pointer;
}

.num-box {
  width: 10vh;
  height: 10vh;
  font-size: large;
  border-radius: 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(0, 0, 0, 0.3);
}
